rules_version = '2';
service firebase.storage {
  match /blessings/{blessingId} {
    allow read: if true;
    allow write: if request.auth != null;
  }
}
